.input-group-text {
  cursor: pointer;
}

.card-info {
  text-decoration: none;
  color: #000;

  &:hover {
    .card-text {
      color: #000;
    }
  }
}

.card {
  max-width: 440px;
}

.card-body {
  padding: 8px !important;
}

.img-fluid {
  display: flex;
  height: 100% !important;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 280px;
}

.card-text {
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 280px;
}

.text-muted {
  display: flex;
  justify-content: space-between;
  .card-tag {
    display: flex;
    column-gap: 5px;
    width: 85%;

    .card-tag--salary {
      max-width: 40%;
    }

    .card-tag--address {
      max-width: 50%;
    }
    .card-tag--salary,
    .card-tag--address {
      display: block;
      padding: 4px 8px;
      color: #000;
      background-color: #f3f5f7 !important;
      border-radius: 5%;
      line-height: 16px;
    }

    .text_ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .edit-and-del {
    .delete {
      color: red;
      cursor: pointer;
    }
    .edit {
      margin-right: 10px;
      color: orange;
      cursor: pointer;
    }
  }
}

.job-footer {
  .pagination {
    justify-content: center !important;
  }
}
