.card:hover {
  transform: scale(1.05); /* Phóng to lên 105% kích thước ban đầu */
  transition: transform 0.3s ease; /* Hiệu ứng phóng to mượt mà trong 0.3s */
}

.carousel-size {
  width: 100%;
}

.myChart {
  background-color: #f0f8ff;
}

.growthChart {
  background-color: antiquewhite;
}

.input-group-text {
  i {
    font-size: 30px;
  }
  .fa-searchengin:before {
    content: "\f3eb";
  }
}
